<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>📨 Contact Form Submissions</h1>
    <table border="1">
        <tr><th>Name</th><th>Email</th><th>Phone</th><th>Message</th></tr>
        {% for q in queries %}
        <tr>
            <td>{{ q[0] }}</td>
            <td>{{ q[1] }}</td>
            <td>{{ q[2] }}</td>
            <td>{{ q[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>